<main class="hero">
    <p>
        We build <span>high-performance</span> websites that turn ambitious startups
        into
        <span>trusted brands</span>.
    </p>
    <p>
        At Apexcode, we design and develop <span>tailor-made</span> marketing sites
        that combine
        <span>strategy</span>,
        <span>design</span>, and
        <span>engineering</span>. Our process is simple: we start by deeply
        <span>understanding your product</span>, then we craft a
        <span>lightning-fast site</span> that speaks your audience’s language — visually
        and technically.
    </p>
    <p>
        Whether you're launching your first product or scaling fast, our goal is
        the same: make you look
        <span>world-class</span> from day one.
    </p>
</main>

<style>
    .hero {
        padding: 1rem;
        max-width: 768px;
        margin: 0 auto;
        font-size: 2rem;
        font-weight: 500;

        p span {
            opacity: 0.6;
        }
    }
</style>
