<main class="hero">
    <p>
        Transformamos <span>ideas visionarias</span> en <span
            >software excepcional</span
        >.
    </p>

    <p>
        En <span class="logo">Apexcode.studio</span>, combinamos <span
            >agilidad</span
        >, <span>diseño centrado en el usuario</span> y <span
            >excelencia técnica</span
        > para construir productos digitales <span>robustos</span>, <span
            >rápidos</span
        > y <span>escalables</span>.
    </p>

    <p>
        Más que una agencia, somos <span>tu socio estratégico</span>, te
        acompañamos desde la idea hasta el lanzamiento con una <span
            >metodología probada</span
        >, basada en <span>transparencia radical</span>, <span
            >desarrollo ágil</span
        > y <span>tecnologías con propósito</span>.
    </p>

    <p>
        Creamos soluciones enfocadas en <span
            >impactar de verdad</span
        > — porque el buen código no solo se mide en líneas, sino en <span
            >resultados reales</span
        >.
    </p>

    <style>
        .hero {
            padding: 1rem;
            max-width: 768px;
            margin: 0 auto;
            font-size: 1.8rem;

            font-weight: 500;

            p {
                color: rgba(255, 255, 255, 0.6);

                span {
                    color: rgba(255, 255, 255, 1);
                }

                .logo {
                    font-family: monospace;
            }
        }




    </style>
</main>
