<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Apexcode.studio</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style>
    /*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

    :root {
        --aurora: repeating-linear-gradient(
            100deg,
            #3b82f6 10%,
            #818cf8 15%,
            #60a5fa 20%,
            #ddd6fe 25%,
            #60a5fa 30%
        );
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
    }

    body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
        font-family: "Inter", sans-serif;
        margin: 0;
        height: 100vh;
        overflow: hidden;
        font-family: sans-serif;
        position: relative;
        color: #f4f5f7;
        background-color: #0b0d0f;
        overflow-y: auto;
    }

    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
    }

    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow-wrap: break-word;
    }

    p {
        text-wrap: pretty;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-wrap: balance;
    }

    #root,
    #__next {
        isolation: isolate;
    }
</style>
